@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
	
	background: rgb(44, 38, 69);
	background: linear-gradient(90deg, rgba(44, 38, 69, 1) 49%, rgba(142, 142, 142, 1) 100%);
}

